
.card {
  border-radius: 10px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 250px;
  height: 150px;
  background-color: #121212;
  padding: 20px;
  position: relative;
  z-index: 0;
  color: #f6f6f6;
  overflow: hidden;
  transition: 0.6s ease-in;
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #fed400;
  height:220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.45s ease-out;
}


.card:hover::before{
    transition-delay:0.2s ;
  transform: scale(40);
}

.card:hover{
    color: #121212;
}

.card p{
    padding: 10px 0;
}
