section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36px ;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr{
  background: #FFF;
  width: 90% ;
}

textarea{
  background: #202020;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  width: 90%;
  height: 450px;
  resize: none;
  font-size: 16px;
  color: #FFF;
}

textarea:focus{
  outline: none;
}

input{
  border: none;
  color: #FFF;
  width: 90%;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background: #202020;
}

a{
  color: #ff0000;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

button{
  width: 130px;
  height: 40px;
  background-color: #329542;
  color: #FFF;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: all 300ms ease;
  box-shadow: 0px 3px 7px 0px rgba(255, 255, 255, 0.5);
}

input:focus {
  outline: none;
  box-shadow: none;
}

.buttons{
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 22px;
  align-items: center;
  margin-right: 100px;
}

button:hover{
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px 2px rgba(255, 255, 255, 0.25);
  transition: all 300ms;
}

a:hover{
  transform: translateY(-3px);
  transition: all 300ms;
  scale: 110ms;
}

input:focus, textarea:focus {
  caret-color: #fff; /* Substitua "red" pela cor desejada */
}
