*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #1A1A1A;
  font-weight: 800;
  font-size: 32px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  height: 10vh;
  color: #FFF;
  box-shadow: hsla(0, 0%, 50%, 0.1) 0 0.3rem 0.5rem;
  border-bottom: 1px transparent(255, 255, 255, 0.1);
}

ul{
  display: flex;
  gap: 24px;
  align-items: center;
}

img{
  width: 48px;
  height: 48px;
  fill: #F3D500;
}
