@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('../../../styles.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #55828B;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  height: 90px;
}

ul{
  display: flex;
  gap: 24px;
  align-items: center;
}

img{
  width: 48px;
  height: 48px;
}
