
.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  box-shadow: 2px 2px 10px rgba(255, 248, 248, 0.1);
  background-color: #FED400;
}
