<main>
  <div class="welcomeText">
    <h1>Bem Vindo ao Notes !</h1>
    <p>Escreva uma nova anotação</p>
  </div>
  <div class="newNote">
    <div class="textBox">
      <input type="text" placeholder="Título..." class="noteTitle">
      <img src="../../../assets/images/close.svg" alt="">
    </div>
    <hr>
    <div class="textBody">
      <textarea rows="10" placeholder="Escreva sua nota aqui..."></textarea>
      <img src="../../../assets/images/expand.svg" alt="" class="expandIcon">
    </div>
  </div>
</main>
