<main>
  <section *ngIf="listaNotas.length <= 0">
      <h1 class="titleNoNotes">Suas anotações irão aparecer aqui...</h1>
      <img src="../../../assets/images/nota.svg" alt="">
  </section>

  <div class="mainComNotas" *ngIf="listaNotas.length > 0">
    <div class="tituloMain">
      <h1>Bem vindo ao Notes</h1>
      <p>Suas anotações estao abaixo</p>
    </div>
    <div class="notasDiv">
      <div *ngFor="let nota of listaNotas">
        <app-notas [nota]="nota"></app-notas>
      </div>
    </div>
  </div>

  <button routerLink="/escrever" class="Btn">
    <span class="material-symbols-outlined">
      add_circle
      </span>
    </button>
</main>
