main{
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  gap: 40px;
}

h1{
  color: #FFF;
  font-weight: 600;
  font-size: 26px;
}

img{
  width: 200px;
  height: 200px;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(255, 248, 248, 0.1);
  background-color: #FED400;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 30px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 230px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 20%;
  transition-duration: .3s;
  padding-left: 10px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 80%;
  transition-duration: .3s;
  /* padding-right: 10px; */
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}
