@import url(../../../assets/css/button.css);

main{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  gap: 40px;
}

.main{
  margin-top: 100px;
}

img{
  width: 300px;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  gap: 40px;
}

h1{
  color: #FFF;
  font-weight: 600;
  font-size: 26px;
}

.Btn:hover{
  scale: 110%;
}

.notasDiv{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  height: 100px;
}


.mainComNotas{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 90%;
  padding: 40px 0;
  height: auto;
  justify-content: space-around;
  align-items: center;
}


.tituloMain{
  color: #FFF;
}

h1{
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

h3{
  color: #FFF;
}

.tituloMain p {
  font-size: 18px;
  text-align: center;
}
